
.parts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .part {
      flex-basis: 28%;
      margin: 1em;
      padding: 1em;
        width: 300px;
  }

  .partImage {
      /* max-width: 200px; */
      max-width: 220px;
      max-height: 170px;
      margin: 0 auto;
      padding-top: 2%;
      display: flex;
      justify-content: center;
      align-content: center;
      background-color: #ffffff;
  }

  .card-content {
      margin: 0;
      padding-left: 5%;
      padding-right: 5%;
  }

  .part-text {
    display: flex;
    flex-direction: column;
  }

  .part-button {
    margin-bottom: 0;
  }

  .partContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .part-button-link {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
  }

  .part-button-link1 button {
    /* margin: 0 auto; */
    min-width: 110px;
    max-height: 40px;
  }

  .part-button-link2 button {
    margin: 0 auto;
    min-width: 110px;
    max-height: 40px;
  }

  .delPart {
    /* margin: 0 auto; */
    min-width: 100px;
    max-height: 40px;
    max-width: 110px;
  }

  .partStack {
    display: flex;
    justify-content: center;
  }